= form_tag('/tenants') do
  .field
    = label_tag :name
    %br/
    = text_field_tag  :name
  .field
    = label_tag :description
    %br/
    = text_area_tag :description
  -#.field
    = label_tag :enabled
    %br/
    =check_box_tag "enabled",true
  .actions
    = submit_tag "create",:class=>"btn btn-primary"