<h1>Listing tenants</h1>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Desciription</th>
    <th>Enabled</th>
  </tr>

<% @tenants.each do |tenant| %>
  <tr>
    <td><%=  tenant[:id] %></td>
    <td><%= tenant[:name] %></td>
    <td><%=  tenant[:description] %></td>
    <td><%=  tenant[:enabled] %></td>

    <td><%= link_to 'Show', tenant %></td>
    <td><%= link_to 'Edit', edit_tenant_path(tenant) %></td>
    <td><%= link_to 'Destroy', tenant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tenant', new_tenant_path %>
