-#{"vcpus": 1, "disk": 1, "name": "test", "rxtx_factor": 1, "OS-FLV-EXT-DATA:ephemeral": 1, "ram": 512, "id": 6, "swap": 1}}'
   
= form_tag('/flavors') do
  .field
    = label_tag :id
    %br/
    = text_field_tag  :id ,compute.flavors.collect{|c| c[:id]}.max.to_i+1
  .field
    = label_tag :name
    %br/
    = text_field_tag  :name
  .field
    = label_tag :vcpus
    %br/
    = text_area_tag :vcpus
  .field
    = label_tag :disk
    %br/
    = text_area_tag :disk
  .field
    = label_tag :ram
    %br/
    = text_area_tag :ram
  .field
    = label_tag :ephemeral
    %br/
    = text_area_tag :ephemeral  
  .actions
    = submit_tag "submit"