.table_wrapper
  %table#instances.table.table-bordered.table-striped
    %thead
      %tr
        %th id
        %th name
        %th vcpus
        %th memory
        %th root disk
        %th ephemeral disk
        %th.actions_column Actions
    %tbody
      - @flavors.sort{|a,b| a[:id]<=>b[:id]}.each do |flavor|
        %tr
          %td= flavor[:id]
          %td= flavor[:name]
          %td= flavor[:vcpus]
          %td= flavor[:ram]
          %td= flavor[:disk]
          %td= flavor["OS-FLV-EXT-DATA:ephemeral"]
          %td.actions_column=link_to "delete",flavor_path(:id=>flavor[:id]), :confirm => 'Are you sure?', :method => :delete,:class=>"btn btn-small btn-danger"
= link_to 'New Flavor', new_flavor_path