= form_tag('/servers') do
  .field
    = label_tag :name
    %br/
    = text_field_tag  :name
  .field
    = label_tag :metadata
    %br/
    = text_area_tag :metadata
  .field
    = label_tag :imageRef
    %br/
    = select_tag "imageRef", options_for_select(glance.images.collect{|image| [ image[:name], image[:id] ]})
  .field
    = label_tag :flavorRef
    %br/
    = select_tag "flavorRef", options_for_select(compute.flavors.collect{|p| [ p[:name]+"#{p[:vcpus]} VCPU / #{p[:disk]} GB Dish / #{p[:ram]} MB Ram", p[:links][0][:href].split("/").last]})
  .actions
    = submit_tag "submit"