= form_tag("/servers/#{@server[:id]}/make_snapshot") do
  .field
    = label_tag :snapshot_name
    %br/
    = text_field_tag  :name
  .actions
    = submit_tag "create snapshot",:class=>"btn btn-primary"