
.table_wrapper
  %table#instances.table.table-bordered.table-striped
    %thead
      %tr
        %th Tenant
        %th User
        %th Instance ID
        %th Host
        %th Instance Name
        %th IP Address
        %th Size
        %th Status
        %th Task
        %th Power State
        %th.actions_column Actions
    %tbody
      - @servers.each do |server|
        %tr.status_up
          %td.multi_select_column
          -real_server = compute.get_server(server[:id])
          -server_detail = compute.get_server_detail(server[:id])
          %td
            = server_detail[:tenant_id]
            (
            -#= keystone.get_tenant(server_detail[:tenant_id])[:name]
            )
          %td= server_detail[:user_id]
          %td= server_detail[:id]+"(#{server_detail['OS-EXT-SRV-ATTR:instance_name']})"
          %td= server_detail["OS-EXT-SRV-ATTR:host"]
          %td= link_to real_server.name, server_path(:id=>real_server.id)
          %td= real_server.addresses[0].try(:address)
          -flavor =compute.flavors.select{|c| c["id"]==real_server.flavor["id"]}[0]
          %td= flavor[:name]+"#{flavor[:vcpus]} VCPU / #{flavor[:disk]} GB Dish / #{flavor[:ram]} MB Ram"
          %td= real_server.status
          %td=server_detail["OS-EXT-STS:task_state"].nil?? "No":server_detail["OS-EXT-STS:task_state"]
          %td=server_detail["OS-EXT-STS:power_state"] == 1 && "running" || "No status"
          %td.actions_column
            .btn-group
              %a.ajax-modal.btn.btn-small{:href => "/nova/instances_and_volumes/instances/c9b500d6-1d6c-4e42-bef1-72e2c59252e0/update"} Edit Instance
              %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu.row_actions.clearfix
                -if server_detail["OS-EXT-STS:power_state"]==1
                  %li.clearfix
                    %a.btn.btn-small{:href => "#{compute.get_console(server_detail[:id])}",:target=>"_blank"} VNC Console
                %li.clearfix
                  =link_to "Snapshot" ,create_snapshot_server_path(:id=>server_detail[:id]),:class=>"ajax-modal btn btn-small"
          -#%td= link_to 'Edit', edit_server_path(server)
          -#%td=link_to 'Destroy', server, :confirm => 'Are you sure?', :method => :delete
    %tfoot
      %tr
        %td{:colspan => "12"}
          %span
            ="Displaying #{@servers.size} item"
  = link_to 'New Server', new_server_path