= form_tag("/volumes/#{@volume[:id]}/make_snapshot") do
  .field
    = label_tag :name
    %br/
    = text_field_tag  :name
  .field
    = label_tag :description
    %br/
    = text_field_tag  :description
  .actions
    = submit_tag "create snapshot",:class=>"btn btn-primary"