<h1>Listing volumes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>size</th>
    <th>status</th>
    <th>attachments</th>

  </tr>

<% @volumes.each do |volume| %>
  <tr>
    <td><%=volume[:displayName]%></td>
    <td><%=volume[:displayDescription]%></td>
    <td><%=volume[:size]%></td>
    <td><%=volume[:status]%></td>
    <td><%= link_to 'Show', volume_path(:id=>volume[:id]) %></td>
    <td><%= link_to 'Edit', edit_volume_path(:id=>volume[:id]) %></td>
    <td><%= link_to 'Destroy', volume_path(:id=>volume[:id]) , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Volume', new_volume_path %>
