%h1 Listing volumes
.table_wrapper
  %table#instances.table.table-bordered.table-striped
    %thead
      %tr
        %th.multi_select_column
        %th Name
        %th Description
        %th size
        %th status
        %th attachments
        %th.actions_column Actions
    %tbody
      - @volumes.each do |volume|
        %tr
          %td.multi_select_column
          %td= volume[:displayName]
          %td= volume[:displayDescription]
          %td= volume[:size]
          %td= volume[:status]
          %td
            -volume["attachments"].each do |attachment|
              =link_to "#{attachment["serverId"]}","/servers/#{attachment["serverId"]}"
          -#%td= link_to "#{volume["attachments"][0][:serverId]}", "servers/"+ volume["attachments"][0]["serverId"]
          %td.actions_column=link_to "delete",volume_path(:id=>volume[:id]), :confirm => 'Are you sure?', :method => :delete
= link_to 'New Volume', new_volume_path