#tenant_switcher.dropdown.switcher_bar{:tabindex => "1"}
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#tenant_switcher"}
    %h4 Project
    %h3 
      =current_tenant["name"]
  %ul#tenant_list.dropdown-menu
    %li.divider
    - keystone.get_tenants_for_user(keystone.current_auth_user[:id]).each do |c|
      %li
        %a{:href => "/tenants/#{c['id']}/servers"}
          =c["name"]
%h4 Manage Compute
%ul.main_nav
  %li
    =link_to "Servers","/tenants/#{current_tenant['id']}/servers",:class=>(controller_name == "servers" && "active")
  %li
    =link_to "Volumes","/tenants/#{current_tenant['id']}/volumes",:class=>(controller_name == "volumes" && "active")
  %li
    =link_to "Volume_snapshots","/tenants/#{current_tenant['id']}/volume_snapshots",:class=>(controller_name == "volume_snapshots" && "active")
  %li
    =link_to "server_snapshots","/tenants/#{current_tenant['id']}/server_snapshots",:class=>(controller_name == "server_snapshots" && "active")