=form_tag('/images')
  .field
    = label_tag :name
    %br/
    = text_field_tag  :name
  .field
    = label_tag :serverId
    %br/
    = select_tag "serverId", options_from_collection_for_select(compute.servers, "id", "name")
  .actions
    = f.submit,:class=>"btn btn-primary"