!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :class => 'no-js' do
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        = yield :title
        = @title_name
        |
        超管平台
      = stylesheet_link_tag "admin.css", :media =>"screen"
      = stylesheet_link_tag "/stylesheets/jquery.autocomplete.css", :media =>"screen"
      = javascript_include_tag "application"
      = csrf_meta_tags
  %body{ :lang => 'en', :class => [body_class_names, 'two-col'] }
    #header
      #nav
        #loginbar
          - if logged_in? and not params[:action] == "login"
            您好，
            = current_user.login
            |
            = link_to("退出", logout_path)
          - else
            您好，您可以
            = link_to("登录", login_path )
            或
            = link_to("注册", signup_path )
      %h1 超管平台
    / end header
    #container
      #content
        = yield
      / content
      #right
        -if logged_in?
          - if  params[:tenant_id] or @tenant
            now you are looking tenant:
            =current_tenant["name"]
            #right-title
              %h5 
                管理
                ="#{current_tenant['name']}"
              %ul.menu
                %li= link_to 'servers', tenant_servers_path(:tenant_id=>current_tenant["id"])
                %li= link_to 'flavors', tenant_flavors_path(:tenant_id=>current_tenant["id"])
                %li= link_to 'images', tenant_images_path(:tenant_id=>current_tenant["id"])
                %li= link_to 'volumes', tenant_volumes_path(:tenant_id=>current_tenant["id"])
                %li= link_to 'snapshots', tenant_snapshots_path(:tenant_id=>current_tenant["id"])
                %li= link_to 'users', tenant_users_path(:tenant_id=>current_tenant["id"])
          #right-title
            %h5 管理
            %ul.menu
              %li= link_to 'users', users_path
              %li= link_to 'tenants', tenants_path
              %li= link_to 'servers', servers_path
              %li= link_to 'flavors', flavors_path
              %li= link_to 'images', images_path
              %li= link_to 'quotas', "/page/quotas"
              %li= link_to 'services', "/page/services"
              %li= link_to 'volumes', volumes_path
              %li= link_to 'snapshots',snapshots_path

      / right
      %br{:style => "clear: both;"}
    / container
    #footer
      ©2007-2010
      %a{:href => "http://bling0.com/"}
    = javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
    = javascript_include_tag "/javascripts/admin"
    = javascript_include_tag 'plugins'

