!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :class => 'no-js' do
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title
        = yield :title
        = @title_name
        |
        东南大学计算机学院-云计算管理平台
      = stylesheet_link_tag "bootstrap.css", :media =>"screen"
      = stylesheet_link_tag "style.css", :media =>"screen"
      = javascript_include_tag "application"
      = csrf_meta_tags
  %body{ :lang => 'en', :class => [body_class_names, 'two-col'] }
    #container
      .sidebar
        %h1.brand.clearfix
          %a{:href => "/home/"} OpenStack Dashboard
        .clearfix
          %ul.nav.nav-tabs
            -if params[:tenant_id] || @tenant
              %li.active
                %a{:href => "/page/tenant", :tabindex => "1"} Project
              -if logged_in? && keystone.check_admin_for_user(keystone.current_user[:id])
                %li
                  %a{:href => "/page/admin", :tabindex => "1"} Admin
            -else
              %li
                %a{:href => "/page/tenant", :tabindex => "1"} Project
              -if logged_in? && keystone.check_admin_for_user(keystone.current_user[:id])
                %li.active
                  %a{:href => "/page/admin", :tabindex => "1"} Admin
        -if params[:tenant_id] || @tenant
          -#=current_tenant["name"]
          -#=current_tenant["id"]
          =render "sidebar"
        -else
          =render "admin_sidebar"
      #main_content
        .topbar
          #user_info.pull-right
            %span
              Logged in as:
              =compute.authuser 
            %a{:href => "/logout/"} Sign Out
          .page-header
            %h2 Overview
        = yield
      / right
      %br{:style => "clear: both;"}
    / container
    #footer
      %span
        ©2012 东南大学软件学院
    = yield :javascripts

